{% extends 'symbol-base.html' %}
{% load static %}
{% block head %}
    <title>Copyright and Trademark Symbols</title>
{% endblock head %}

{% block header %}
    Copyright Symbols
{% endblock header %}
{% block symbols %}
    <span>©</span>
    <span>®</span>
    <span>™</span>
    <span>℗</span>
    <span>℠</span>
    <span>§</span>
    <span>℡</span>
    <span>✆</span>
    <span>✄</span>
    <span>✃</span>
    <span>✂</span>
    <span>✁</span>
    <span>⌨</span>
    <span>☏</span>
    <span>☎</span>
    <span>☊</span>
    <span>⅍</span>
    <span>℆</span>
    <span>✍</span>
    <span>☚</span>
    <span>☜</span>
    <span>☟</span>
    <span>☛</span>
    <span>☞</span>
    <span>☝</span>
    <span>✌</span>
    <span>℅</span>
    <span>℁</span>
    <span>℀</span>
    <span>№</span>
    <span>‱</span>
    <span>¶</span>
    <span>‰</span>
    <span>✒</span>
    <span>✑</span>
    <span>✐</span>
    <span>✏</span>
    <span>✎</span>
    <span>✉</span>
    <span>✈</span>
    <span>✇</span>
{% endblock symbols %}