{% extends 'custom-base.html' %}
{% load static %}
{% block head %}
    <title>(っ◔◡◔) Small Text Generator ♥ ➽ 𝐔𝐧𝐢𝐪𝐮𝐞 Styles Of Fancy Fonts</title>
    <meta name="title" content="(っ◔◡◔) Small Text Generator ♥ ➽ 𝐔𝐧𝐢𝐪𝐮𝐞 Styles Of Fancy Fonts">
    <meta name="Description"
          content="This small fancy text generator will transform your text into subscript and superscript form of writing. "/>
    <meta name="keywords" content="Small Text, Small Fonts, Small Text Generator, Small Text, Cool Small Text">
    <meta property="og:title" content="(っ◔◡◔) Small Text Generator ♥ ➽ 𝐔𝐧𝐢𝐪𝐮𝐞 Styles Of Fancy Fonts">
    <meta property="og:description"
          content="This small fancy text generator will transform your text into subscript and superscript form of writing. ">
    <meta property="og:image"
          content="https://textgeneratorfonts.com/static/stylish-text-generator/images/Fancy+Text+Generator.gif">

    <meta property="twitter:title" content="(っ◔◡◔) Small Text Generator ♥ ➽ 𝐔𝐧𝐢𝐪𝐮𝐞 Styles Of Fancy Fonts">
    <meta property="twitter:description"
          content="This small fancy text generator will transform your text into subscript and superscript form of writing. ">
    <meta property="twitter:image"
          content="https://textgeneratorfonts.com/static/stylish-text-generator/images/Fancy+Text+Generator.gif">

{% endblock head %}

{% block header %}
    Small Text Generator
{% endblock header %}


{% block content %}
    <p>
        This simple online tool generates small text from your regular sized text. You can copy and paste the small
        letters most places that you can paste normal text.</p>
    <strong>How does it work?</strong>
    <p>Well, it all starts with our little
        friend, Unicode. Unicode is an international textual character specification that has been adopted by the vast
        majority of the world's computer industry. Unicode specifies over 120,000 symbols, but currently most browsers
        and fonts only support a subset of this (though support is always growing). It should be noted that the small
        text you're seeing above is not a font.</p>
    <p>It's all in the same font, but different character sets are used.
        Unicode specifies many weird alphabets that can be copy and pasted into Facebook/Tumblr/Twitter/etc. posts and
        profiles. These small text alphabets are just a few of the alphabetical symbol sets contained in Unicode. As you
        might have noticed, some letters don't actually convert properly. This is simply because the alphabets for
        subscript and superscript don't actually exist as a proper alphabet in unicode.
    </p>
    <p>They're a sort of
        "pseudo-alphabet" in that the characters were pieced together from various Unicode blocks. The "small caps"
        (small capital letters) alphabet is pretty much a complete alphabet in Unicode so there's an equivalent small
        uppercase character for each regular character of the alphabet (though the character for "f" is a bit weird).
        While building this small text generator, I could only work with the text symbols that are provided by Unicode.
    </p>
{% endblock content %}

{% block scripts %}

    <script src={% static "small-text-generator/small-text.js" %} defer="defer"></script>
    <script type='application/ld+json'>
    {
       "@context":"https://schema.org/",
       "@type":"Article",
       "author":{
          "@type":"Organization",
          "name":"TextGeneratorFonts"
       },
       "headline":"(っ◔◡◔) Small Text Generator ♥ ➽ 𝐔𝐧𝐢𝐪𝐮𝐞 Styles Of Fancy Fonts",
       "image":"https://textgeneratorfonts.com/static/copy-and-paste-symbols.jpg",
       "datePublished":"2021-02-03T00:00:00.000Z",
       "publisher":{
          "@type":"Organization",
          "name":"TextGeneratorFonts",
          "logo":{
             "@type":"ImageObject",
             "url":"https://textgeneratorfonts.com/static/fevicon.png"
          }
       },
       "keywords":"Small Text, Small Fonts, Small Text Generator, Small Text, Cool Small Text",
       "dateModified":"2021-02-26T00:00:00.000Z",
       "mainEntityOfPage":"{{ request.build_absolute_uri }}#website",
       "description":"This small fancy text generator will transform your text into subscript and superscript form of writing."
    }
    </script>
{% endblock scripts %}