{% extends 'symbol-base.html' %}
{% load static %}
{% block head %}
    <title>Star Symbols</title>
{% endblock head %}

{% block header %}
    Star Symbols
{% endblock header %}
{% block symbols %}
        <span>★</span>
        <span>🟌</span>
        <span>✶</span>
        <span>☆</span>
        <span>✱</span>
        <span>✭</span>
        <span>✧</span>
        <span>✬</span>
        <span>✦</span>
        <span>★</span>
        <span>✵</span>
        <span>🟑</span>
        <span>✣</span>
        <span>✩</span>
        <span>✮</span>
        <span>✲</span>
        <span>✷</span>
        <span>⁑</span>
        <span>ᕯ</span>
        <span>✸</span>
        <span>✳</span>
        <span>✯</span>
        <span>✰</span>
        <span>✤</span>
        <span>✥</span>
        <span>✪</span>
        <span>❂</span>
        <span>✴</span>
        <span>✹</span>
        <span>⁂</span>
        <span>࿏</span>
        <span>✼</span>
        <span>❋</span>
        <span>✫</span>
        <span>❄</span>
        <span>✺</span>
        <span>✻</span>
        <span>❅</span>
        <span>✡</span>
        <span>🔯</span>
        <span>❆</span>
        <span>꙰</span>
        <span>⚝</span>
        <span>⛧</span>
        <span>🌃</span>
        <span>🌟</span>
        <span>⭐</span>
        <span>🌠</span>
        <span>💫</span>
        <span>✨</span>
        <span>⛥</span>
        <span>＊</span>
        <span>⍣</span>
        <span>≛</span>
        <span>۞</span>
        <span>٭</span>
        <span>⭑</span>
        <span>⭒</span>
        <span>꙳</span>
        <span>⍟</span>
        <span>⁕</span>
        <span>❇</span>
        <span>❈</span>
        <span>✾</span>
        <span>✿</span>
        <span>❀</span>
        <span>❁</span>
        <span>❃</span>
        <span>❆</span>
        <span>❂</span>
        <span>✨</span>
        <span>۞</span>
        <span>✥</span>
{% endblock symbols %}