{% extends 'symbol-base.html' %}
{% load static %}
{% block head %}
    <title>Star Symbols</title>
    <meta name="title" content="Star Symbols (🅲🅾🅿🆈 🅰🅽🅳 🅿🅰🆂🆃🅴)">
    <meta name="Description"
          content="Copy-paste, or learn to type star symbol emoji directly from your keyboard. You can put them in Facebook, Youtube or Instagram. Ways to type star symbols ✬ ✭ ✮ ✯ ✰ ✡ ⋆ ✢ ✣ ✤ ✥ ❋ ✦ ✧ ✩ ✪ ✫ ★, their unicode entities and more."/>
    <meta name="keywords"
          content="Star Symbols, copy Fonts, Copy and paste Star Symbols, star symbol copy and paste">

    <meta property="og:title" content="Star Symbols (🅲🅾🅿🆈 🅰🅽🅳 🅿🅰🆂🆃🅴)">
    <meta property="og:description"
          content="Copy-paste, or learn to type star symbol emoji directly from your keyboard. You can put them in Facebook, Youtube or Instagram. Ways to type star symbols ✬ ✭ ✮ ✯ ✰ ✡ ⋆ ✢ ✣ ✤ ✥ ❋ ✦ ✧ ✩ ✪ ✫ ★, their unicode entities and more.">
    <meta property="og:image"
          content="https://textgeneratorfonts.com/static/copy-and-paste-symbols.jpg">

    <meta property="twitter:title" content="Star Symbols (🅲🅾🅿🆈 🅰🅽🅳 🅿🅰🆂🆃🅴)">
    <meta property="twitter:description"
          content="Copy-paste, or learn to type star symbol emoji directly from your keyboard. You can put them in Facebook, Youtube or Instagram. Ways to type star symbols ✬ ✭ ✮ ✯ ✰ ✡ ⋆ ✢ ✣ ✤ ✥ ❋ ✦ ✧ ✩ ✪ ✫ ★, their unicode entities and more.">
    <meta property="twitter:image"
          content="https://textgeneratorfonts.com/static/copy-and-paste-symbols.jpg">
{% endblock head %}

{% block header %}
    Star Symbols
{% endblock header %}
{% block symbols %}
    <span>★</span>
    <span>🟌</span>
    <span>✶</span>
    <span>☆</span>
    <span>✱</span>
    <span>✭</span>
    <span>✧</span>
    <span>✬</span>
    <span>✦</span>
    <span>★</span>
    <span>✵</span>
    <span>🟑</span>
    <span>✣</span>
    <span>✩</span>
    <span>✮</span>
    <span>✲</span>
    <span>✷</span>
    <span>⁑</span>
    <span>ᕯ</span>
    <span>✸</span>
    <span>✳</span>
    <span>✯</span>
    <span>✰</span>
    <span>✤</span>
    <span>✥</span>
    <span>✪</span>
    <span>❂</span>
    <span>✴</span>
    <span>✹</span>
    <span>⁂</span>
    <span>࿏</span>
    <span>✼</span>
    <span>❋</span>
    <span>✫</span>
    <span>❄</span>
    <span>✺</span>
    <span>✻</span>
    <span>❅</span>
    <span>✡</span>
    <span>🔯</span>
    <span>❆</span>
    <span>꙰</span>
    <span>⚝</span>
    <span>⛧</span>
    <span>🌃</span>
    <span>🌟</span>
    <span>⭐</span>
    <span>🌠</span>
    <span>💫</span>
    <span>✨</span>
    <span>⛥</span>
    <span>＊</span>
    <span>⍣</span>
    <span>≛</span>
    <span>۞</span>
    <span>٭</span>
    <span>⭑</span>
    <span>⭒</span>
    <span>꙳</span>
    <span>⍟</span>
    <span>⁕</span>
    <span>❇</span>
    <span>❈</span>
    <span>✾</span>
    <span>✿</span>
    <span>❀</span>
    <span>❁</span>
    <span>❃</span>
    <span>❆</span>
    <span>❂</span>
    <span>✨</span>
    <span>۞</span>
    <span>✥</span>
{% endblock symbols %}
{% block content %}
    <p>
        Text art symbols, symbols for your text, emoticons, smiley faces, emoji, and the like are all available on this
        page. Copy and paste emoticon star text symbols, smiley faces or emoji to your Instagram bio, Facebook status,
        or tweet with the new emoji keyboard.
    </p>
    <p>
    How to use a star emoticon in a sentence. Here are some example of how to use a star emoticon in a sentence. Learn
    how to use the star emoticon with emoticon codes and text emoticons.
    </p>
    <p>
        You can even add additional star emoticons to your text to exaggerate your message. Paste and copy the emoticon
        code to use as star emoticon in a Facebook post, status, tweet, or text post. You can even add additional star
        emoticons to your text to exaggerate your message.
    </p>
    <p>
    Paste and copy the emoticon code to use as star emoticons in a Facebook post, status, tweet, or text post. You can
    even add additional star emoticons to your text to exaggerate your message. Paste and copy the emoticon code to use
    as star emoticons in a Facebook post, status, tweet, or text post. You can even add additional star emoticons to
    your text to exaggerate your message.
    </p>
    <p>
        This page contains a large number of star emoticons in many different styles. You can also find a lot of other
        emoticons on our website. Copy and paste emoticon star text symbols to your Instagram bio, Twitter
    </p>
    <p>
    <h3>How do you type a star symbol?</h3>
    You can type a star symbol by holding down the Alt key and typing 0169 on the numeric keypad.
    </p>
    <p>
    <h3>What is the symbol * called?</h3>
    The symbol * is called a star.
    </p>
    <p>
    <h3>What does ✨ mean from a girl?</h3>
    ✨ means star.
    </p>
{% endblock content %}
{% block scripts %}
    <script type="application/ld+json">
    {
       "@context":"https://schema.org/",
       "@type":"Article",
       "author":{
          "@type":"Organization",
          "name":"TextGeneratorFonts"
       },
       "headline":"Star Symbols (🅲🅾🅿🆈 🅰🅽🅳 🅿🅰🆂🆃🅴)",
       "image":"https://textgeneratorfonts.com/static/copy-and-paste-symbols.jpg",
       "datePublished":"2021-02-26T00:00:00.000Z",
       "publisher":{
          "@type":"Organization",
          "name":"TextGeneratorFonts",
          "logo":{
             "@type":"ImageObject",
             "url":"https://textgeneratorfonts.com/static/fevicon.png"
          }
       },
       "keywords":"Star Symbols, copy Fonts, Copy and paste Star Symbols, star symbol copy and paste",
       "dateModified":"2021-02-26T00:00:00.000Z",
       "mainEntityOfPage":"{{ request.build_absolute_uri }}#website",
       "description":"Copy-paste, or learn to type star symbol emoji directly from your keyboard. You can put them in Facebook, Youtube or Instagram. Ways to type star symbols ✬ ✭ ✮ ✯ ✰ ✡ ⋆ ✢ ✣ ✤ ✥ ❋ ✦ ✧ ✩ ✪ ✫ ★, their unicode entities and more."
    }
    </script>
{% endblock scripts %}