{% extends 'custom-base.html' %}
{% load static %}
{% block head %}
    <title>Vaporwave Text</title>
    <meta name="title" content="(っ◔◡◔) Vaporwave Text ♥ ➽ 𝒸𝑜𝓅𝓎 𝒶𝓃𝒹 𝓅𝒶𝓈𝓉𝑒 Fonts">
    <meta name="Description"
          content="here's the generator. It's pretty easy to use. Just type in some text and it should convert it into vaporwave text for you."/>
    <meta name="keywords" content="Vaporwave Text, Vaporwave Fonts, Vaporwave Text Generator, Stylish Text, Cool Text">
    <meta property="og:title" content="(っ◔◡◔) Vaporwave Text ♥ ➽ 𝒸𝑜𝓅𝓎 𝒶𝓃𝒹 𝓅𝒶𝓈𝓉𝑒 Fonts">
    <meta property="og:description"
          content="here's the generator. It's pretty easy to use. Just type in some text and it should convert it into vaporwave text for you.">
    <meta property="og:image"
          content="https://textgeneratorfonts.com/static/stylish-text-generator/images/Fancy+Text+Generator.gif">

    <meta property="twitter:title" content="(っ◔◡◔) Vaporwave Text ♥ ➽ 𝒸𝑜𝓅𝓎 𝒶𝓃𝒹 𝓅𝒶𝓈𝓉𝑒 Fonts">
    <meta property="twitter:description"
          content="here's the generator. It's pretty easy to use. Just type in some text and it should convert it into vaporwave text for you.">
    <meta property="twitter:image"
          content="https://textgeneratorfonts.com/static/stylish-text-generator/images/Fancy+Text+Generator.gif">

{% endblock head %}

{% block header %}
    Vaporwave Text
{% endblock header %}


{% block content %}
    <p>
        Anyway, here's the generator. It's pretty easy to use. Just type in some text and it should convert it into
        vaporwave text for you.
    </p>
    <p>I'd love to take credit for this idea, but it's not mine. I saw it on a YouTube video and I thought it was really
        cool, so I decided to make a generator for it.</p>
    <p>If you have any suggestions for new features or characters, or if you find a bug, please let me know!</p>
    <p>I hope you enjoy this vaporwave text generator!
        Vaporwave is a genre of music that is heavily influenced by 80s and 90s culture. It is often characterized by
        its use of samples from old corporate advertisements, 80s television shows, and of course, retro computer
        graphics.
        Vaporwave is also known for its unique visual aesthetic, which is often characterized by the use of Japanese
        lettering, 80s and 90s computer graphics, and retro colors.
        If you're interested in learning more about vaporwave, check out vaporwave.info. It's a great resource.</p>


{% endblock content %}



{% block scripts %}
    <script src={% static "vaporwave-text/base.js" %} defer></script>
    <script src={% static "vaporwave-text/fancytextking.js" %} defer></script>
{% endblock scripts %}

